@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 202, 31%, 7%; /* CHANGED */
    --foreground: 210 40% 98%;

    --chat-header : 202 23% 16%;
    --chat-placeholder : 203 22% 21%;
    --green-chat: 169, 100%, 18%;
    --container: 202, 31%, 7%;

    --gray-primary: 202, 23%, 16%;
    --gray-secondary: 202, 22%, 17%;

    --left-panel: 203, 32%, 10%;
    --chat-hover: 202, 23%, 16%;

    --green-primary: 167, 100%, 33%;
    --green-secondary: 165, 100%, 39%;

    --gray-tertiary: 203, 22%, 21%;
    /* CLASSES ADDED BY US */

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* WE ADDED => DARK MODE THIN SCROLLBAR */
@layer components {
  /* For Webkit browsers (Chrome, Safari) */
  .scrollbar::-webkit-scrollbar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: hsl(203, 32%, 10%) #393636; /* Thumb color, track color */
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #473c3c; /* Track color */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; /* Scrollbar thumb color */
    border-radius: 10px; /* Roundness of the thumb */
    border: 2px solid #f0f0f0; /* Padding around thumb */
  }

  /* For Firefox */
  .scrollbar {
    scrollbar-width: thin; /* Thin scrollbar */
    scrollbar-color: hsl(203, 32%, 10%) #393636; /* Thumb color, track color */
  }
}
